## The following requirements were added by pip freeze:
BareNecessities==0.2.8
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Flask-Mail==0.9.1
Jinja2==2.8
Mail==2.1.0
MarkupSafe==0.23
PyYAML==3.11
blinker==1.4
requests==2.9.1
stripe==1.28.0
Werkzeug==0.11.3
