<!-- Footer -->
<footer class="footer minimal bg-dark">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">

                <div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>
                        <a href="#home" class="color-white">CWRU FRN</a>
                    </h2>
                </div>

                <div class="socials footer-socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div> <!-- end socials -->
							<span class="copyright text-center">
								©2016 CWRU Food Recovery Network
							</span>
            </div>

        </div>
    </div>
</footer> <!-- end footer -->

<div id="back-to-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
</div>