<header class="navbar navbar-fixed-top animated fadeInDown delay2">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-menu"></span>
            </button>
            <h2 class="logo animated fadeInLeft delay4">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="FRN" /></a>
            </h2> 
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="animated fadeInRight delay5"><a href="#menu-jumbotron">Home</a></li>
                <li class="animated fadeInRight delay6"><a href="#menu-about">About</a></li>
                <li class="animated fadeInRight delay7"><a href="#menu-ministries">Ministries</a></li>
                <li class="animated fadeInRight delay8"><a href="#menu-staff">Church workers</a></li>
                <li class="animated fadeInRight delay9"><a href="#menu-gallery">Gallery</a></li>
                <li class="animated fadeInRight delay10"><a href="#menu-sermons">Sermons</a></li>
                <li class="animated fadeInRight delay11"><a href="#menu-events">Events</a></li>
                <li class="animated fadeInRight delay12 external"><a href="#">Buy</a></li>
                <li class="animated fadeInRight delay12"> <a href="#menu-contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>
