@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,300,200);
html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: Dosis, sans-serif;
  color: #000; }

.container {
  height: 100%;
  overflow: hidden; }

a {
  color: inherit; }
  a:hover, a:active {
    color: inherit;
    text-decoration: none; }

.navbar {
  z-index: 999;
  background-color: #fff;
  border-bottom: 2px solid #a31e6f;
  margin-bottom: 0; }
  .navbar .container-fluid {
    height: 80px; }
  .navbar .navbar-brand {
    margin: 0;
    padding: 0;
    height: 100%; }
    .navbar .navbar-brand img {
      margin-left: 15px;
      height: 80px;
      width: auto; }
  .navbar .case-logo {
    margin-top: 10px; }
    .navbar .case-logo img {
      padding: 10px;
      height: 60px; }
  .navbar .nav.navbar-nav.navbar-right {
    padding-top: 15px;
    font-size: 16px;
    line-height: 16px;
    padding-right: 8px; }
    .navbar .nav.navbar-nav.navbar-right li:nth-child(even) a {
      color: #689746; }
    .navbar .nav.navbar-nav.navbar-right li:nth-child(odd) a {
      color: #a31e6f; }

.screen {
  height: 100%;
  padding-top: 90px;
  overflow: hidden; }
  .screen .section-title {
    margin-left: auto;
    margin-right: auto;
    color: #689746;
    padding-bottom: 10px;
    width: auto;
    display: table;
    border-bottom: 2px dotted #689746; }

#home {
  -webkit-background-size: cover;
  background-size: cover; }
  #home .container-fluid {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0; }
  #home .row {
    margin: -10px 0 0 0;
    height: 105%;
    width: 100%; }
  #home .row-overlay {
    height: 105%;
    position: relative;
    display: block;
    top: 5%;
    left: -5%;
    max-width: 100%;
    background-size: contain !important;
    background: url("../img/background.png") no-repeat center;
    z-index: 998; }
  #home .col-md-2 {
    opacity: 0.7;
    position: relative;
    bottom: 0;
    min-height: 100%; }
    #home .col-md-2:nth-child(even) {
      background-color: #a31e6f; }
    #home .col-md-2:nth-child(odd) {
      background-color: #689746; }

#about .row {
  padding-top: 20px; }
#about .blurb-row img {
  height: 250px;
  width: auto;
  display: table-cell; }
#about .sponsor-row h3 {
  text-transform: uppercase; }
#about .sponsor-row .partners {
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden; }
  #about .sponsor-row .partners li {
    display: inline-block;
    padding: 5px 20px; }
    #about .sponsor-row .partners li.bon-appetit img {
      width: 300px; }
    #about .sponsor-row .partners li.panera img {
      width: 200px; }
    #about .sponsor-row .partners li.einstein img {
      width: 200px; }
    #about .sponsor-row .partners li.cwru-police img {
      width: 150px; }
#about .description {
  font-size: 20px;
  display: block;
  text-align: justify; }

#events .pager li {
  margin-right: 15px; }
  #events .pager li:last-child {
    margin-right: 22px; }
  #events .pager li a {
    color: #000;
    border-radius: 5px; }
#events .row {
  overflow: hidden; }
  #events .row:first-of-type {
    height: 75%; }
  #events .row:last-of-type {
    margin-top: 15px;
    height: 20%; }
#events .event-column {
  margin-top: 20px;
  height: 100%; }
  #events .event-column .event-list {
    margin-top: 20px;
    list-style: none;
    overflow-y: scroll;
    max-height: 85%; }
    #events .event-column .event-list li {
      padding: 15px;
      border: 1px dashed #689746;
      margin-bottom: 10px;
      border-radius: 5px; }
      #events .event-column .event-list li .event-title {
        display: inline-block; }
      #events .event-column .event-list li .date {
        float: right;
        color: #689746;
        display: inline-block; }
      #events .event-column .event-list li a {
        color: #000; }
  #events .event-column:first-child {
    border-right: 1px solid #a31e6f; }
  #events .event-column .month-header {
    color: #a31e6f;
    text-align: center; }

#gallery .row {
  margin-top: 40px;
  height: 80%;
  overflow: scroll; }

/*# sourceMappingURL=style.css.map */
