$blue: #0C314F;
$yellow: #9D861F;

.yellow {
  color: $yellow !important;
}
.blue {
  color: $blue !important;
}

#home {
  background: url('../img/background.png') no-repeat center;

  .hero-message.text-rotator {
    h1 {
      color: #000;
      margin-left: -10%;
    }
  }
}