@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,300,200);

$yellow: #9D861F;
$blue: #0C314F;
$black: #000;

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: Dosis, sans-serif;
  color: $black;
}

.container {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;

  &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

.navbar {
  z-index: 999;
  background-color: #fff;
  margin-bottom: 0;
  opacity: 0.7;

  .container-fluid {
    height: 80px;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    height: 100%;
    img {
      margin-left: 15px;
      height: 80px;
      width: auto;
    }
  }

  .case-logo {
    margin-top: 10px;
    img {
      padding: 10px;
      height: 60px;
    }
  }

  .nav.navbar-nav.navbar-right {
    padding-top: 15px;
    font-size: 16px;
    line-height: 16px;
    padding-right: 8px;

    li {
      a { color: $blue; }
    }
  }
}

.screen {
  height: 100%;
  padding-top: 90px;
  overflow: hidden;

  .section-title {
    margin-left: auto;
    margin-right: auto;
    color: $blue;
    padding-bottom: 10px;
    width: auto;
    display: table;
    border-bottom: 2px dotted $yellow;
  }
}

#home {
  -webkit-background-size: cover;
  background-size:cover;

  .container-fluid {
    height: 105%;
    max-width: 100%;
    width: 100%;
    padding: 0;
    background: url('../img/background.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

#about {

  .row {
    padding-top: 20px;
  }

  .blurb-row {
    img {
      height: 250px;
      width: auto;
      display: table-cell;
    }
  }

  .sponsor-row {
    h3 {
      text-transform: uppercase;
    }
    .partners {
      list-style: none;
      overflow-x: scroll;
      overflow-y: hidden;

      li {
        display: inline-block;
        padding: 5px 20px;

        &.bon-appetit img {
          width: 300px;
        }
        &.panera img {
          width: 200px;
        }
        &.einstein img {
          width: 200px;
        }
        &.cwru-police img {
          width: 150px;
        }
      }
    }
  }

  .description {
    font-size: 20px;
    display: block;
    text-align: justify;
  }

}

#events {
  .pager {
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 22px;
      }
      a {
        color: $black;
        border-radius: 5px;
      }
    }

  }
  .row {
    overflow: hidden;

    &:first-of-type {
      height: 75%;
    }
    &:last-of-type {
      margin-top: 15px;
      height: 20%;
    }
  }
  .event-column {
    margin-top: 20px;
    height: 100%;

    .event-list {
      margin-top: 20px;
      list-style: none;
      overflow-y: scroll;
      max-height: 85%;

      li {
        padding: 15px;
        border: 1px dashed $blue;
        margin-bottom: 10px;
        border-radius: 5px;

        .event-title {
          display: inline-block;
        }
        .date {
          float: right;
          color: $yellow;
          display: inline-block;
        }
        a {
          color: $black;
        }
      }
    }

    &:first-child {
      border-right: 1px solid $yellow;
    }

    .month-header {
      color: $blue;
      text-align: center;
    }
  }
}

#gallery {
  .row {
    margin-top: 40px;
    height: 80%;
    overflow: scroll;
  }
}