<section class="section-wrap intro" id="about">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s"
                 data-wow-delay="0s">
                <h2 class="intro-heading heading-frame">About FRN</h2>
                <p class="intro-text mb-60">
                    Our mission is simple: fight waste and feed people.
                    We do this by donating the excess food from campus to our community.
                    In addition to diverting food waste, we hold educational events on campus
                    and in the community about healthy eating, food waste, and hunger.
                    We work closely with other food and service related groups to create a
                    robust and cohesive fight against food waste and hunger.
                </p>

            </div>

        </div>
    </div>
</section>