<section class="section-wrap intro" id="donate">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 text-center wow slideInUp" data-wow-duration="1.2s"
                 data-wow-delay="0s">
                <h2 class="text-center bottom-line">Donate Food</h2>
                <p class="info">
                    If your business is interested in joining our network to give tax-deductible food donations, please email us at
                    <a href="mailto:frn-exec@case.edu" target="_blank">frn-exec@case.edu</a>.
                    If your CWRU student organization is interested in recovering food from a catered event, please fill out this form:
                    <a href="http://tinyurl.com/frnhotline" target="_blank">tinyurl.com/frnhotline</a>.
                </p>
            </div>
            <div id="donate-money-container" class="col-sm-4 text-center wow slideInUp" data-wow-duration="1.2s"
                 data-wow-delay="0s">
                <h2 class="text-center bottom-line">Donate Money</h2>
                <p class="info">
                    If you would like to make a tax-deductible donation to national Food Recovery Network, which will fund chapters across the country, please visit
                    <a target="_blank" href="http://foodrecoverynetwork.org">foodrecoverynetwork.org</a>.
                    If you'd like to make a donation to our specific chapter so we can put on cool events, buy equipment, and continue our daily activities, you may do so below.
                </p>
                <form action="{{ url_for('donate') }}" method="post">
                    <script src="https://checkout.stripe.com/checkout.js"></script>
                    <script>
                        var stripeKey = "{{ stripeKey }}";
                        var donateURL = "{{ url_for('donate') }}";
                    </script>
                    <div class="input-group donate-money">
                        <span class="input-group-addon">$</span>
                        <input
                                class="form-control currency" id="donate-amount"
                                min="0"
                                max="1000"
                                step="0.01"
                                value="5"
                                type="number"
                                data-number-stepfactor="100"
                                data-number-to-fixed="2"
                        />
                        <span class="input-group-btn">
                            <button id="btn-donate" class="btn btn-default" type="button">Donate</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 text-center wow slideInUp" data-wow-duration="1.2s"
                 data-wow-delay="0s">
                <h2 class="text-center bottom-line">Donate Time</h2>
                <p class="info">
                    We are always looking for more volunteers! If you are interested in helping recover food or serve at St. Matthew's HOPE Soup Kitchen, please email
                    <a href="mailto:frn-exec@case.edu" target="_blank">frn-exec@case.edu</a> to join the mailing list and get further volunteer instructions.
                    A calendar of our recovery shifts can be found <a target="_blank" href="https://docs.google.com/spreadsheets/d/1HGUW6aYkyDP1dju8DOLaoQYQ0unhaPqnEy9M0u6z3v4/edit#gid=12">here</a>.
                </p>
            </div>

        </div>
    </div>
</section>