<section id="home" class="hero-wrap text-center">
    <div class="container container-full-height">
        <div class="hero-holder">
            <div class="hero-message text-rotator">
                <h1><span class="rotate">Fighting <strong class="yellow">Waste</strong>., Feeding <strong class="blue">People</strong>.</span></h1>
                <div class="local-scroll">
                    <a href="#intro" class="scroll-down">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>