<section class="section-wrap intro" id="sponsors">
    <div class="container">
        <div class="row heading">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="text-center bottom-line">Partners & Sponsors</h2>
                <p class="subheading text-center">We couldn't do it without them!</p>
            </div>
        </div>

        {% for sponsor_set in group_rows(sponsors, 3) %}
        <div class="row">
            {% for sponsor in sponsor_set %}
                <div class="col-sm-4 client-logo">
                    <img height={{ sponsor['height'] }} src="{{ url_for('static', filename="img/sponsors/%s" % sponsor['img']) }}" alt="{{ sponsor['name'] }}">
                </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</section>